In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('cap12_dsa.db')
cursor = con.cursor()

In [3]:
sql_query = """SELECT name FROM sqlite_master WHERE type = 'table';"""

In [4]:
cursor.execute(sql_query)

In [5]:
cursor.fetchall()

[('tb_vendas_dsa',)]

Qual a média das unidades vendidas?

In [6]:
query_2 = 'SELECT AVG(unidades_vendidas) FROM tb_vendas_dsa;'

In [7]:
cursor.execute(query_2)

In [8]:
print(cursor.fetchall())

[(10.506,)]

Média de unidades vendidas por produto.

In [9]:
query_3 = 'SELECT nome_produto, AVG(unidades_vendidas) FROM tb_vendas_dsa GROUP BY nome_produto;'
cursor.execute(query_3)
cursor.fetchall()

[('Produto_1', 12.0),
 ('Produto_10', 9.5),
 ('Produto_11', 14.181818181818182),
 ('Produto_12', 8.846153846153847),
 ('Produto_13', 6.0),
 ('Produto_14', 9.166666666666666),
 ('Produto_15', 9.75),
 ('Produto_16', 8.25),
 ('Produto_17', 11.714285714285714),
 ('Produto_18', 13.083333333333334),
 ('Produto_19', 9.727272727272727),
 ('Produto_2', 9.25),
 ('Produto_20', 7.555555555555555),
 ('Produto_21', 10.285714285714286),
 ('Produto_22', 13.6875),
 ('Produto_23', 10.818181818181818),
 ('Produto_24', 12.272727272727273),
 ('Produto_25', 9.538461538461538),
 ('Produto_26', 9.363636363636363),
 ('Produto_27', 11.1),
 ('Produto_28', 9.0),
 ('Produto_29', 9.692307692307692),
 ('Produto_3', 8.909090909090908),
 ('Produto_30', 9.875),
 ('Produto_31', 7.9),
 ('Produto_32', 11.923076923076923),
 ('Produto_33', 12.285714285714286),
 ('Produto_34', 8.1),
 ('Produto_35', 9.0),
 ('Produto_36', 9.090909090909092),
 ('Produto_37', 11.0),
 ('Produto_38', 12.8),
 ('Produto_39', 12.666666666666666),
 ('Produto_4', 11.153846153846153),
 ('Produto_40', 7.25),
 ('Produto_41', 11.857142857142858),
 ('Produto_42', 10.272727272727273),
 ('Produto_43', 11.0),
 ('Produto_44', 7.2),
 ('Produto_45', 8.875),
 ('Produto_46', 12.142857142857142),
 ('Produto_47', 10.571428571428571),
 ('Produto_48', 14.0),
 ('Produto_49', 11.875),
 ('Produto_5', 10.2),
 ('Produto_50', 10.545454545454545),
 ('Produto_6', 12.0),
 ('Produto_7', 13.5625),
 ('Produto_8', 11.071428571428571),
 ('Produto_9', 7.2)]

Média de unidades vendidas por nome produto onde valor unitário é maior que 199.

In [13]:
query_4 = 'SELECT nome_produto, AVG(unidades_vendidas) FROM tb_vendas_dsa WHERE valor_unitario > 199 GROUP BY nome_produto;'
cursor.execute(query_4)
cursor.fetchall()

[('Produto_11', 1.0),
 ('Produto_15', 8.0),
 ('Produto_17', 14.0),
 ('Produto_20', 7.0),
 ('Produto_39', 16.0)]

In [14]:
query = 'SELECT * FROM tb_vendas_dsa;'
cursor.execute(query)
dados = cursor.fetchall()

In [15]:
df = pd.DataFrame(dados, columns=['id_pedido', 'id_cliente', 'nome_produto', 'valor_unitario', 'unidades_vendidas', 'custo'])

In [16]:
df.head()

,id_pedido,id_cliente,nome_produto,valor_unitario,unidades_vendidas,custo
0,1,63,Produto_38,154.03,7,92.42
1,2,49,Produto_8,171.52,5,102.91
2,3,83,Produto_39,28.97,13,17.38
3,4,37,Produto_2,104.55,4,62.73
4,5,19,Produto_1,77.21,19,46.33

In [17]:
cursor.close()
con.close()

Média de unidades vendidas.

In [18]:
media_unidades = df['unidades_vendidas'].mean()
media_unidades

10.506

Média de unidades vendidas por nome produto.

In [20]:
media_unidades_por_nome = df.groupby('nome_produto')['unidades_vendidas'].mean()
media_unidades_por_nome

nome_produto
Produto_1     12.000000
Produto_10     9.500000
Produto_11    14.181818
Produto_12     8.846154
Produto_13     6.000000
Produto_14     9.166667
Produto_15     9.750000
Produto_16     8.250000
Produto_17    11.714286
Produto_18    13.083333
Produto_19     9.727273
Produto_2      9.250000
Produto_20     7.555556
Produto_21    10.285714
Produto_22    13.687500
Produto_23    10.818182
Produto_24    12.272727
Produto_25     9.538462
Produto_26     9.363636
Produto_27    11.100000
Produto_28     9.000000
Produto_29     9.692308
Produto_3      8.909091
Produto_30     9.875000
Produto_31     7.900000
Produto_32    11.923077
Produto_33    12.285714
Produto_34     8.100000
Produto_35     9.000000
Produto_36     9.090909
Produto_37    11.000000
Produto_38    12.800000
Produto_39    12.666667
Produto_4     11.153846
Produto_40     7.250000
Produto_41    11.857143
Produto_42    10.272727
Produto_43    11.000000
Produto_44     7.200000
Produto_45     8.875000
Produto_46    12.142857
Produto_47    10.571429
Produto_48    14.000000
Produto_49    11.875000
Produto_5     10.200000
Produto_50    10.545455
Produto_6     12.000000
Produto_7     13.562500
Produto_8     11.071429
Produto_9      7.200000
Name: unidades_vendidas, dtype: float64

Média de unidades vendidas por nome produto onde valor unitário é maior que 199.

In [21]:
media_3 = df[df['valor_unitario'] > 199].groupby('nome_produto')['unidades_vendidas'].mean()
media_3

nome_produto
Produto_11     1.0
Produto_15     8.0
Produto_17    14.0
Produto_20     7.0
Produto_39    16.0
Name: unidades_vendidas, dtype: float64